/* Project: Portfolio Site */
/* Author: Daniel Thompson */

/* General/Utility Styles*/
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
  
}

body {
  margin: 0;
  background: rgb(245, 245, 245);
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.75rem;/*12px*/
  letter-spacing: 0.05rem;/*8px*/
  line-height: 1rem;/*12px*/
  color: rgb(86, 90, 92);
}
  
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #4969cf;
}
  
strong {
  font-weight: 600;
}
  
img {
  border: none;
}

h1 {
  display: none;
}


/*Intro Anim*/
.intro {
  background: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  display: grid;
}

.intro-logo {
  width: 70%;
  height: 70%;
  margin: auto;
  /* margin-top: -1em; */
}

/* Header Styles */
header {
  position: fixed;
  height: 8.25em;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 1.875rem;/*30px*/
  box-shadow: 0px 5px 8px rgba(184, 185, 195, .25);
  z-index: 2;
}

header img {
  width: 3.75rem;/*60px*/ 
  height: 3.75rem;/*60px*/
}

/* ...hamburger Menu */
.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;/*60px*/
  height: 3.75rem;/*60px*/
  cursor: pointer;
  transition: all .1s ease-in-out;
  right: 1.875rem;
  /* border: 3px solid rgb(37, 37, 37); */
}

.menu-btn_burger {
  width: 2.5rem; /*40px*/
  height: 0.25rem; /*4px*/
  background: black;
  border-radius: 0.3125rem; /*5px*/
  transition: all .1s ease-in-out;
}
  
.menu-btn_burger::before, .menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 2.5rem; /*40px*/
  height: 0.25rem; /*4px*/
  background: black;
  border-radius: 0.3125rem; /*5px*/
  transition: all .1s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-12px);
  transform-origin: left, top;
}

.menu-btn_burger::after {
  transform: translateY(12px);
  transform-origin: left, bottom;
}

/* .../...hamburger Animation */
.menu-btn.open .menu-btn_burger {
  background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg);
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg);
}



/* Dropdown Nav Menu */
nav {
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  margin-top: 6.25rem;/*100px*/
  display: none;
  z-index: 1;
  animation: overlay .5s forwards;
}

nav h3 {
  margin-bottom: 0.3125rem; /*5px;*/
  font-weight: 600;
}

nav h3 , nav h4 {
  color: rgb(0, 0, 0);
}

nav .footer img {
  width: 2.188rem; /*35px*/
  height: 2.188rem; /*35px*/
  margin: 0 1.25rem 0.75rem 1.25rem; /*0 20px 12px 20px*/
}

nav li {
  font-size: 1.25rem; /*20px*/
  text-transform: uppercase;
  margin-top: 5rem; /*80px;*/
}

.footer {
  position: fixed;
  width: 100%;
  margin-bottom: 1.25rem; /*20px;*/
  bottom: 0;
}


/* ---Page Content---*/
section {
  width: 100vw;
  height: 100%;
  padding: 100px 50px 50px 50px;
  text-align: center;
  justify-content: center;
}

section span {
  font-weight: 700;
  color: #4969cf;
}

h2 {
  font-size: 3.125rem;
  margin: 50px 0 0 0;
  line-height: 1.25em;/*48px*/
}

p {
  font-size: 1.125rem;
  margin-top: 1.5em;
  line-height: 1.125em;
}

.art img {
  width: 100%;
  box-shadow: -10px 10px 8px rgba(184, 185, 195, .5);
  margin-top: 50px;
  animation: fadeIn 1s forwards;
}

.profile img {
  width: 100%;
  margin-top: 5em;
  animation: fadeIn 1s forwards;
}

.stats {
  width: 100%;
  margin-top: -40px;
  margin-left: -20px;
  animation: fadeIn 1s forwards;
}





/* ---Animations ---*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}






/*---------------When display is as large as a tablet---------------*/
@media only screen 
and (min-width : 730px)  { 
  

  /* ---Page Content---*/
  section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto auto 1fr;
  }

  h2 {
    grid-column: 1 / 3;
  }

  p {
    grid-column: 1 / 3;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .art img {
    width: 90%;
  }

  .profile img {
    width: 60%;
    margin: 5em 0 0 -4em;
  }

  .stats {
    margin-top: 5em;
    margin-left: -7em;
    width: 110%;
  }
}



/*---------------When display is large enough for a desktop---------------*/
@media only screen 
and (min-width : 1200px)  { 

  .intro-logo {
    width: 40%;
    height: 40%;
    margin: 0;
    margin: auto;
  }

  /* ..header stuff */
  #menu-btn {
    display: none;
  }

  header {
    width: 40%;
  }

  nav {
    display: inline-flex !important;
    width: 60%;
    height: 8.25em;
    position: fixed;
    background-color:white;
    box-shadow: 4px 5px 8px rgba(184, 185, 195, .25);
    z-index: 2;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    animation: none;
  }

  ul {
    display: flex;
    margin-left: auto;
  }

  nav li {
    font-size: .75rem;
    margin: 0;
    margin-right: 3em;
  }

  nav h3 , nav h4 {
    display: none;
  }
  
  nav .footer img {
    width: 2em;
    height: 2em;
    margin: auto .75rem; 
  }

  .footer {
    position: relative;
    width: 17em;
    margin: 0;
    border-left: 1px solid black;
  }


/* ..page content*/
  section {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto auto 1fr 1fr ;
  }
  
  h2 {
    grid-column: 1 / 5;
  }

  p {
    grid-column: 2 / 4;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2.5em;;
  }

  .profile {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
  }

  .profile img {
    width: 80%;
    margin: 0;
    margin-left: -17em;
  }

  .stats {
    margin-top: 1em;
    margin-left: -10em;
    width: 140%;
    grid-row: 3 / 5;
    grid-column: 3 / 4;
  }





}



