/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1.5px;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #fff;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

img {
  border: none;
}




/* Layout Styles */

header {
  position: fixed;
  height: 150px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

h1 {
  display: none;
}

header img {
  width: 75px; 
  height: 75px;
}


/*hamburger menu*/
.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  right: 50px;
 /*border: 3px solid #fff;*/
}

.menu-btn_burger {
  width: 50px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all .1 ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all .1s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-16px);
  transform-origin: left, top;
}

.menu-btn_burger::after {
  transform: translateY(16px);
  transform-origin: left, bottom;
}

/* ANIMATION */
.menu-btn.open .menu-btn_burger {
  background-color: black;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg);
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg);
}

/*dropdown menu*/
nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.95);
  height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
}

#overlay {
  display: none;
}


nav li {
  font-size: 30px;
  margin-top: 80px;
}


nav img {
  width: 50px;
  height: 50px;
  margin: 0 20px 20px 20px;
}

nav li img {
  display: none;
}

/* this is the grayed out effect. Remove when you update comic*/
 nav li a.dead {
  opacity: 0.4;
}

nav h3 {
  color: #fff;
  margin-bottom: 10px;
}

.footer {
 position: fixed;
 width: 100%;
 margin-bottom: 50px;
 bottom: 0;
}

/*content*/

section {
  width: 100%;
  padding: 50px;
  text-align: center;
}

h2 {
  font-size: 50px;
  margin: 180px 0 80px 0;
}

.art img {
  width: 100%;
  box-shadow: -10px 10px 8px #dcdcdc;
  margin-bottom: 50px;
}

.profile img {
  width: 100%;
  margin-bottom: 50px;
  margin-left: -80px;
}

.stats {
  width: 100%;
}

/*--Contact Page Styles--*/

.contact-title h3 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
  transition: all 4s ease-in-out;
}

.contact-title p {
  font-size: 20px;
  line-height: 30px;
}

.contact-title a {
  font-weight: bold;
  color: #587aea;
}

span.bold {
  font-weight: bold;
}


form {
  transition: all 4s ease-in-out;
}

.form-control {
  width: 90%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 50px;
}

form .submit {
  background: #587aea;
  width: 90%;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 20px;
  border-radius: 50px;
}

form .submit:hover {
  background-color: #588eea;
  cursor: pointer;
}

/*-------When display is larger than 1000 pixels---------*/
@media only screen and (min-width: 1000px) {
  #menu-btn {display: none;}
  #overlay {display: block !important;}
  nav li img {display: block;}

header {
  height: 350px;
  width: 350px;
  justify-content: center;
  padding: 0;
}

header img {
  width: 90px; 
  height: 90px;
}

nav {
  width: 350px;
  height: 100%;
  background: black;
  position: fixed;
  text-align: center;
  margin-top: 350px;
}

nav li {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 100px;
  }

nav li a {
  display: flex;
  }

nav h3 {
  margin-bottom: 5px;
}

nav img {
  width: 20px;
  height: 20px;
  margin: 0 10px 10px 10px;
}

ul {
  width: 160px;
  margin: 0 auto;
  text-align: left;
}

nav ul img {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 20px;
  position: relative;
}

.footer {
 position: fixed;
 width: 350px;
 font-size: 10px;
 margin-bottom: 50px;
 bottom: 0;
}

section {
  width: 100vw;
  margin-left: 350px;
  padding-left: 130px;
  padding-top: 130px;
  text-align: left;
}

h2 {
  font-size: 90px;
  margin: 0px 0 130px 0;
}

.art img {
  width: 700px;
  box-shadow: -10px 10px 8px #dcdcdc;
  margin-bottom: 0;
  margin: 0 60px 60px 0;
}

.art .wide {
  width: 1460px;
}

/*--About Page Styles--*/

.info {
  width: auto;
}

.profile img {
  width: 500px;
  margin-bottom: 50px;
  margin-left: -80px;
  float: left;
}

.stats {
  width: 775px;
  float: left;
}



/*--Contact Page Styles ---*/

form .submit {
  width: 600px;
  }

.form-control {
  width: 600px;
}

body.contact {
  background: url(../images/contact/guts.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}